:root {
  --black: black;
  --pifae_blue: #223543;
  --white: white;
  --blue-violet: #6e2ed8;
  --dim-grey: #6b6b6b;
  --663399: #602bb6;
  --deep-pink: #fc0a7e;
  --medium-violet-red: #b32e6e;
  --medium-slate-blue: #955df1;
  --pifae_orange: #fd9b02;
  --pifae_darkblue: #03192c;
}

/* Basic Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  font-family: 'Gothic A1', sans-serif;
  line-height: 1.6;
  color: #fd9b02;
  background-color: #03192c;
}

.hero {
  background-color: #03192c;
  background-size: cover;
  background-position: center;
  color: #03192c;
  text-align: center;
  padding: 40px 20px;
}

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #03192c;
  z-index: 1000;
  transition: background-color 0.3s;
}

.nav-logo-wrap img {
  transition: transform 0.3s ease-in-out;
}

.nav-logo-wrap img:hover {
  transform: scale(1.1);
}

.section {
  padding: 20px;
  text-align: center;
}

.footer {
  background: #03192c;
  color: #03192c;
  text-align: center;
  padding: 10px;
}

.footer-link {
  color: #fd9b02;
  text-decoration: none;
}

@media (min-width: 768px) {
  .hero-content, .footer {
    max-width: 960px;
    margin: 0 auto;
  }
}



