:root {
  --black: black;
  --pifae_blue: #223543;
  --white: white;
  --blue-violet: #6e2ed8;
  --dim-grey: #6b6b6b;
  --663399: #602bb6;
  --deep-pink: #fc0a7e;
  --medium-violet-red: #b32e6e;
  --medium-slate-blue: #955df1;
  --pifae_orange: #fd9b02;
  --pifae_darkblue: #03192c;
}

/* Basic Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  font-family: 'Gothic A1', sans-serif;
  line-height: 1.6;
  color: #fd9b02;
  background-color: #03192c;
}

.hero {
  background-color: #03192c;
  background-size: cover;
  background-position: center;
  color: #03192c;
  text-align: center;
  padding: 40px 20px;
}


.nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #03192c;
  z-index: 1000;
  transition: background-color 0.3s;
}

.nav-logo-wrap img {
  transition: transform 0.3s ease-in-out;
}

.nav-logo-wrap img:hover {
  transform: scale(1.1);
}

.section {
  padding: 20px;
  text-align: center;
}

.footer {
  background: #03192c;
  color: #03192c;
  text-align: center;
  padding: 10px;
}

.footer-link {
  color: #fd9b02;
  text-decoration: none;
}
.section.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-5 {
  width: 100% !important;
  height: auto;
  object-fit: cover;
}
a {
  color: #fd9b02;
  text-decoration: none;
}


/* Define the animation */
@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Create a new class that applies the animation */
.animate {
  animation-name: slideInFromBottom;
  animation-duration: 2s; /* Adjust this to change the speed of the animation */
}




.h1, h1 {
  font-size: 8rem;
  margin-bottom: 6rem;
  margin-top: 10rem;
  font-family: sans-serif;
}

.h2, h2 {
  font-size: 6rem;
  margin-bottom: 5rem;
  margin-top: 3rem;
  font-family: sans-serif;
}

.h3, h3 {
  font-size: 4rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
  font-family: sans-serif;
}

@media (min-width: 768px) {
  .hero-content, .footer {
    max-width: 960px;
    margin: 0 auto;
  }

  .section.center {
    flex-direction: column;
  }

  .image-5 {
    height: 1000px;
  }

}

@media (max-width: 480px) {
  h1 {
    font-size: 3rem;
    margin-top: 3rem;
    line-height: normal;
    margin-bottom: auto;
  }

  h2 {
    font-size: 3rem;
    margin-top: 5rem;
    margin: auto;
    line-height: normal;
  }

    h3 {
        font-size: 2rem;
        line-height: 1em;
      margin-top: 2rem;
        margin-bottom: 2rem;
    }

  .section.center {
    flex-direction: column;
  }

  .image-5 {
    height: 500px;
  }

  #countdown {
    font-size: 2.5rem !important;
  }
}