@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.coming-soon {
  font-size: 50px;
  text-align: center;
  margin-top: 50vh;
  transform: translateY(-50%);
}